* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contendor {
  background-color: #cccccc;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}
header {
  margin: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
}

header nav {
  width: 50px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 10px;

  flex-grow: 1;
}
header nav a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px;

  /* Flexbox */
  flex-grow: 1;
}
header nav a:hover {
  background: #9c9999;
}
img {
  width: 1155.2;
  height: 775.8;
}

.contendor {
  flex-direction: column;
}

.medio {
  text-align: center;
  position: relative;
  font-size: 26px;
  font-family: futura-pt;
}
body {
  background-image: url("img/0.jpg");
}
.strong {
  display: block;
  position: relative;
  font-size: 86px;
  text-align: center;
  font-family: futura-pt;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  justify-content: center;
}

/*.fek {
  *display: block;
  border: 2px solid #9c9999 !important;
  margin: 10px 0px;
  padding: 16px 28px;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  margin: 10px 0px;
  
  
  
  
  
 */
font-family futura-pt .fek :hover {
  background-color: transparent;
}
.center {
  position: absolute;
}
